@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --primary: goldenrod;
  --base: #000000;
}
*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: #434343;
    border-radius: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background: #dedede97;
    border-radius: 12px;
  }
}
body {
  background: var(--base);
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button,
i {
  cursor: pointer;
}

.spinner {
  @extend .horizontal-center;
  height: 300px;
}

.on-trailer {
  padding-block-end: 17rem;
}

.blur {
  background-color: #2121216a;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
.show-more-btn {
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
  padding-block: 0.5rem;
  color: #dfdfdfc4;
  &:hover {
    color: white;
  }
}

.btn-primary {
  @apply rounded-full py-2  bg-white/90 hover:bg-white text-black;
}

.input-style {
  @apply bg-zinc-900 relative w-full outline-none rounded-full px-2 border border-zinc-800 text-white;
}
