@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
:root {
  --primary: #ef6820;
  --primary: goldenrod;
  --base: #182230;
  --base: #000000;
}
*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: #434343;
    border-radius: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background: #dedede97;
    border-radius: 12px;
  }
}
body {
   background: var(--base);
  color: #ffffff;
  font-family: 'DM Sans', sans-serif;
  text-shadow: 3px 3px 10px black;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button,
i {
  cursor: pointer;
}

button {
  cursor: pointer;
  color: white;

  background-color: #1f2937;
  border: 1px solid #ffffff4b;
  &:hover {
    background-color: #374151;
  }
}

.spinner {
  @extend .horizontal-center;
  height: 300px;
}

.on-trailer {
  padding-block-end: 17rem;
}
