$xs: 'screen and (min-width: 320px)';
$xss: 'screen and (min-width: 480px)';
$sm: "only screen and (min-width: 640px)";
$md: "only screen and (min-width: 768px)";
$lg: "only screen and (min-width: 1024px)";
$xl: "only screen and (min-width: 1280px)";
$xxl: "only screen and (min-width: 1536px)";

$fourK: "only screen and (min-width: 2160px)"; 