.lists {
  height: 100%;
  @extend .flex-col-center;
  gap: .3rem;
  @media #{$sm} {
    gap: 1rem;
  }
  text-align: center;

  #user-in-profile {
    color: var(--primary);
  }

  .results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.3rem;
    @media #{$xss} {
      grid-template-columns: repeat(3, 1fr);
    }
    @media #{$sm} {
      grid-template-columns: repeat(4, 1fr);
    }
    @media #{$lg} {
      grid-template-columns: repeat(5, 1fr);
    }
    @media #{$xl} {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  .results-container {
    width: 100%;
    padding-inline: 0.8rem;
    @media #{$sm} {
      padding-inline: 2rem;
    }
    @media #{$lg} {
      padding-inline: 3.3rem;
    }
  }
}
