.not-found {
  height: 100%;
  width: 100%;
  margin-top: 10rem;
  text-align: center;

  h1 {
    font-size: 3.5rem;

    @media #{$lg} {
      font-size: 5.5rem;
    }
  }
  a {
    color: var(--primary);
    text-decoration: underline;
  }
}
