.search-section {
  // @extend .flex-col-center;
  // gap: 1rem;
  text-align: center;
  // padding-block-end: 5rem;
  // margin: 0 auto;
  // @media #{$lg} {
  //   max-width: 85%;
  // }
  // @media #{$xxl} {
  //   max-width: 70%;
  // }
  // @media #{$fourK} {
  //   max-width: 62%;
  // }

  // @media #{$sm} {
  //   padding-top: 5rem;
  // }

  .form-bg {
    // background-color: #000000;
    
    // position: sticky;
    // top: 0;
    // z-index: 3;
    // left: 0;
    // width: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    @media #{$sm} {
      // top: 3rem;
    }
    .bi-arrow-left {
      font-size: 135%;
    }
  }
  .results {
    // padding-bottom: 4rem;
    // overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .2rem;
    padding-inline: 1rem;
 
    @media #{$sm} {
      grid-template-columns: repeat(4, 1fr);
      gap: .6rem;
    }
    @media #{$lg} {
      // padding-inline: 4rem;
      grid-template-columns: repeat(5, 1fr);
    }

    nav {
      text-shadow: none;
    }
  }
}
