.search-section {
  text-align: center;

  .form-bg {
    .bi-arrow-left {
      font-size: 135%;
    }
  }
  .results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .2rem;
    padding-inline: 1rem;
 
    @media #{$sm} {
      grid-template-columns: repeat(4, 1fr);
      gap: .6rem;
    }
    @media #{$lg} {
      grid-template-columns: repeat(5, 1fr);
    }

    nav {
      text-shadow: none;
    }
  }
}
