.card {
  position: relative;
  border-radius: 8px;
  border: 3px solid transparent;
  transition: all 0.2s;

  @media #{$lg} {
    &:hover {
      filter: grayscale(0.7);
      border: 1px solid #ffffffb0;
    }
  }
  #checkbox {
    position: absolute;
    top: 0px;
    right: 0px;
  }

}
.vote,
.mediatype,
.year {
  position: absolute;
  z-index: 2;
  color: white;
}
.vote {
  top: 6px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 23px;
  width: 23px;
  font-size: 41%;

  @media #{$md} {
    height: 25px;
    width: 25px;
    font-size: 50%;
  }
  @media #{$xl} {
    height: 28.5px;
    width: 28.5px;
    font-size: 53%;
  }

  padding-inline: 0.6rem;
  font-weight: bolder;
  border-radius: 100%;
  text-shadow: none;
  background-color: #0c0c0cbb;
}
.year,
.mediatype {
  font-size: 57%;
  padding-inline: 0.3rem;
  border-radius: 10px;
  background-color: #0c0c0cbb;

  @media #{$md} {
    font-size: 60%;
  }
}

.year {
  top: 13px;
  right: 5px;
}
.mediatype {
  left: 5px;
  bottom: 12px;
}
.content {
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.MuiSvgIcon-root {
  background-color: rgba(218, 165, 32, 0.283);
  padding: 0.2rem;
}

.css-20bmp1-MuiSvgIcon-root {
  @media #{$lg} {
    font-size: 2.3rem !important;
  }
}