.trailer {
  background-color: #000000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;

  .close-btn {
    top: 12%;
  }
  .min-btn {
    top: 12%;
  }
}
.min {
  width: 100%;
  height: auto;
  right: 0%;
  top: 65%;
  z-index: 999;
  position: fixed;
  padding-top: 1.55rem;
  padding-inline: 0.5rem;
  @media #{$xss} {
    width: 90%;
    height: 35%;
    top: 55%;
  }
  @media #{$md} {
    height: 40%;
    top: 58%;
  }
  @media #{$lg} {
    width: 55%;
    height: 45%;
    top: 55%;
  }
}
iframe {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.trailer-btn {
  background-color: rgb(0, 0, 0);
  position: absolute;
  color: rgb(255, 255, 255);
  transition: all 0.5s;
  border: 1px solid rgb(48, 48, 48);
  padding: 0.2rem 0.7rem;
  &:hover {
    transform: scale(1.1);
  }
}
.close-btn {
  right: 5%;
  top: 0%;
}
.min-btn {
  left: 5%;
  top: 0%;
}
